.navbar {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: flex-start;
}

.links {
    display: flex;
    justify-content: flex-start;
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: white;
    font-family: Roboto, sans-serif;
    margin: auto 1em;
    border-radius: 0.5em;
    padding: 1em;
}


a:hover {
    background: rgb(100, 100, 100);
}

.logo {
    display: flex;
    padding: 1em;
    align-items: center;
}

.headerStyle {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin-left: 1.5em;
}

.icon-head {
    margin: auto 0.25em;
}

.icon {
    display: inline;
    height: 24px;
    width: 24px;
    margin: auto 0.25em;
}

.icon-wrapper {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .navbar {
        font-size: small;
        padding: 0.25em;
    }

    a {
        text-decoration: none;
        color: white;
        font-family: Roboto, sans-serif;
        margin: auto 0.25em;
        border-radius: 0.5em;
        padding: 0.25em;
    }

    .logo {
        display: flex;
        padding: 1em;
        align-items: center;
        scale: 0.7;
    }
}