<section class="navbar">
    <div class="logo">
        <img class="headerImage"
            src="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/128/netflix-icon.png" width="50px"
            height="50px">
        <h1 class="headerStyle">NETGLITCH</h1>
    </div>
    <div class="links">
        <a routerLink="/">Home</a>
        <a routerLink="/movies">Movies</a>
        <a class="icon-wrapper" href="https://www.github.com/Nidhish-D-Nayak/shop-movies-app" target=”_blank>
            <p class="icon-head">Github Code</p>
            <img class="icon" src="https://img.icons8.com/color-glass/48/null/external-link.png" />
        </a>
    </div>

</section>
<router-outlet></router-outlet>