.section-english {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0.5em;
    margin: 2em;
}

.posters {
    display: flex;
    flex-direction: column;
    padding: 1em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.posters:hover {
    background: rgb(45, 45, 45);
    border-radius: 0.5rem;
    /* border: 2px solid grey; */
}

.posters-desc {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0 0;
}