.section-english {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1em 1em 2em 3em;
    padding: 1em;
}

.posters-desc {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    font-family: Roboto, sans-serif;
}

.poster-img {
    height: 400px;
    width: 300px;
    border-radius: 5px;
}

.posters {
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.posters:hover {
    background: rgb(45, 45, 45);
}