.align-movie-data {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1em 1em 2em 3em;
    padding: 1em;
}

.align-movie-items {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: medium;
    width: 320px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.movie-desc {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    font-family: Roboto, sans-serif;
}

.align-movie-items:hover {
    background: rgb(45, 45, 45);
    border-radius: 0.25rem;
    /* border: 2px solid grey; */
}